.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 26px 0;
    background-color: #BB2339 !important;
}

.navbar-brand {
    img {
        width: 100%;
    }
}

.navbar-nav {
    align-items: center;
    gap: 40px;

    li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    li button {
        padding: 10px 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        background-color: transparent;
        &:hover {
            color: #BB2339;
            background-color: #FFFFFF;
        }
    }
}

.breadcrumb {
    display: flex;
    margin-bottom: 70px;
    gap: 10px;
    a {
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #B0B0B0;
        &:hover {
            color: #BB2339;
        }
    }

    a.active {
        padding-left: 10px;
        border-left: 2px solid #B0B0B0;
        color: #BB2339;
    }
}

@media (max-width: 768px){
    .navbar-nav {
        margin-top: 25px;
        margin-bottom: 25px;
        justify-content: center;
    }
}